<ion-view view-title="Social">
	<ion-nav-bar>
		<ion-nav-buttons side="right">
		  <!-- A spinner to show until the data arrives -->
		  <ion-spinner icon="lines" class="spinner-positive" ng-if="$root.loaders.social === true"></ion-spinner>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="content-social">
		
		<!-- Control buttons -->
		<i ng-click="$root.bools.editSocial = true" ng-show="$root.bools.editSocial !== true" class="ion-icon ion-ios-compose-outline"></i>
		<i ng-click="$root.bools.editSocial = false;$root.getSocial()" ng-show="$root.bools.editSocial === true" class="ion-icon ion-ios-close-outline"></i>
		<i ng-click="$root.bools.editSocial = false;$root.postSocial()" ng-show="$root.bools.editSocial === true" class="ion-icon ion-ios-checkmark-outline"></i>


		<!-- App name -->
		<h2 ng-if="$root.bools.editSocial !== true">Artistappz</h2>

		<!-- App name input -->
		<label class="item item-input" ng-if="$root.bools.editSocial === true" style="margin-top:40px;">
		  <i class="icon ion-iphone placeholder-icon"></i>
		  <input type="text" ng-model="$root.inputs.socialName" placeholder="App name">
		</label>

		<div class="social-container">
			<!-- Social buttons -->
		    <a ng-if="$root.bools.editSocial !== true" ng-click="$root.openLink($root.data.contact.social.facebook)" class="ion-icon ion-social-facebook-outline"></a>
		    <a ng-if="$root.bools.editSocial !== true" ng-click="$root.openLink($root.data.contact.social.twitter)" class="ion-icon ion-social-twitter-outline"></a>
		    <a ng-if="$root.bools.editSocial !== true" ng-click="$root.openLink($root.data.contact.social.instagram)" class="ion-icon ion-social-instagram-outline"></a>
		    <a ng-if="$root.bools.editSocial !== true" ng-click="$root.openLink($root.data.contact.social.youtube)" class="ion-icon ion-social-youtube-outline"></a>

		    <!-- Social inputs -->
		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-social-facebook-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialFacebook" placeholder="Facebook">
		    </label>
		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-social-twitter-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialTwitter" placeholder="Twitter">
		    </label>
		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-social-instagram-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialInstagram" placeholder="Instagram">
		    </label>
		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-social-youtube-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialYoutube" placeholder="YouTube">
		    </label>
		</div>

		<div class="list">
			<!-- Location info -->

			<a ng-if="$root.bools.editSocial !== true" class="item item-icon-left" href="#">
				<i class="icon ion-ios-navigate-outline"></i>
				{{$root.data.contact.info.city}}
			</a>

			<a ng-if="$root.bools.editSocial !== true" class="item item-icon-left" href="#">
				<i class="icon ion-ios-navigate-outline"></i>
				{{$root.data.contact.info.postal_code}}
			</a>

			<a ng-if="$root.bools.editSocial !== true" class="item item-icon-left" href="#">
				<i class="icon ion-ios-location-outline"></i>
				{{$root.data.contact.info.state}}
			</a>

			<a ng-if="$root.bools.editSocial !== true" class="item item-icon-left" href="#">
				<i class="icon ion-map"></i>
				{{$root.data.contact.info.country}}
			</a>

			<!-- Location inputs -->

			<label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-ios-navigate-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialCity" placeholder="City">
		    </label>

		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-ios-navigate-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialZip" placeholder="ZIP Code">
		    </label>

		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-ios-location-outline placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialState" placeholder="State">
		    </label>

		    <label class="item item-input" ng-if="$root.bools.editSocial === true">
		      <i class="icon ion-map placeholder-icon"></i>
		      <input type="text" ng-model="$root.inputs.socialCountry" placeholder="Country">
		    </label>
		</div>

		<div class="row" ng-if="$root.bools.editSocial !== true">
			<!-- Contact buttons -->

			<a href="tel:{{$root.data.contact.info.phone}}" class="col">
				<i class="ion-icon ion-ios-telephone-outline positive"></i>
			</a>

			<a mailto="mailto:{{$root.data.contact.info.mail}}" class="col">
				<i class="ion-icon ion-ios-email-outline positive"></i>
			</a>

			<div class="col" ng-click="openLink($root.data.contact.info.website)">
				<i class="ion-icon ion-ios-world-outline positive"></i>
			</div>

		</div>

		<!-- Contact inputs -->

		<label class="item item-input" ng-if="$root.bools.editSocial === true">
		  <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
		  <input type="text" ng-model="$root.inputs.socialPhone" placeholder="Phone">
		</label>

		<label class="item item-input" ng-if="$root.bools.editSocial === true">
		  <i class="icon ion-ios-email-outline placeholder-icon"></i>
		  <input type="text" ng-model="$root.inputs.socialMail" placeholder="Mail">
		</label>

		<label class="item item-input" ng-if="$root.bools.editSocial === true">
		  <i class="icon ion-ios-world-outline placeholder-icon"></i>
		  <input type="text" ng-model="$root.inputs.socialWebsite" placeholder="Website">
		</label>
	</ion-content>
</ion-view>
