<!-- Media Subtab -->

<div class="row media-subtab animate-subtab-show " ng-show="$root.bools.showMedia === true;">
  <a href="#/tab/media" ng-click="$root.bools.showMedia = false;$root.mediaTab = 0" class="col col-33 {{$root.settings.colors.primary_color}} ">
    <i class="ion-icon {{$root.settings.icons.subtab_1}}"></i>
    <span>Photos</span>
  </a>
  <a href="#/tab/media" ng-click="$root.bools.showMedia = false;$root.mediaTab = 1" class="col col-33 {{$root.settings.colors.primary_color}} ">
    <i class="ion-icon {{$root.settings.icons.subtab_2}}"></i>
    <span>Music</span>
  </a>
  <a href="#/tab/media" ng-click="$root.bools.showMedia = false;$root.mediaTab = 2" class="col col-33 {{$root.settings.colors.primary_color}} ">
    <i class="ion-icon {{$root.settings.icons.subtab_3}}"></i>
    <span>Videos</span>
  </a>
</div>

<ion-tabs class="tabs-icon-top tabs-color-active-{{$root.settings.colors.primary_color}}">
  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="{{$root.settings.icons.tab_1}}" icon-on="{{$root.settings.icons.tab_1}}" href="#/tab/landing" class="">
    <ion-nav-view name="tab-landing"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="{{$root.settings.icons.tab_2}}" icon-on="{{$root.settings.icons.tab_2}}" href="#/tab/events" class="">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- News Tab -->
  <ion-tab title="News" icon-off="{{$root.settings.icons.tab_3}}" icon-on="{{$root.settings.icons.tab_3}}" href="#/tab/news" class="">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Media Tab -->
  <ion-tab title="Media" icon-off="{{$root.settings.icons.tab_4}}" icon-on="{{$root.settings.icons.tab_4}}" ng-click="$root.bools.showMedia = !$root.bools.showMedia;" class="">
    <ion-nav-view name="tab-media"></ion-nav-view>
  </ion-tab>

  <!-- Contact Tab -->
  <ion-tab title="Social" icon-off="{{$root.settings.icons.tab_5}}" icon-on="{{$root.settings.icons.tab_5}}" href="#/tab/social" badge-style="badge-assertive" class="">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="{{$root.settings.icons.tab_6}}" icon-on="{{$root.settings.icons.tab_6}}" href="#/tab/settings" badge-style="badge-assertive" class="">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
